node-red/iot-unreal-mqtt-flow.json
[
    {
        "id": "4c226cc9d33e546f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dedf5d23ffb6297",
        "type": "mqtt in",
        "z": "4c226cc9d33e546f",
        "name": "",
        "topic": "McLabTuomas/test",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "079b7131bfa92ef4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "1daaadaa2da89988",
                "f20ce369cc877266",
                "7c4714497cf8cdb7",
                "0fd7a2b97a3f4124"
            ]
        ]
    },
    {
        "id": "d459045cef52650f",
        "type": "debug",
        "z": "4c226cc9d33e546f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "0d3745886f281758",
        "type": "osc",
        "z": "4c226cc9d33e546f",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "d459045cef52650f",
                "e272c085a03e98e3"
            ]
        ]
    },
    {
        "id": "1daaadaa2da89988",
        "type": "function",
        "z": "4c226cc9d33e546f",
        "name": "Message to OSC",
        "func": "var acc = msg.payload.acc;\nvar x = msg.payload.x;\nvar y = msg.payload.y;\nvar z = msg.payload.z;\nvar moved = msg.payload.moved;\n\nvar oscMsg = {\n    topic: \"/sensor/data\",\n    payload: [\n        { type: \"i\", value: acc },\n        { type: \"i\", value: x },\n        { type: \"i\", value: y },\n        { type: \"i\", value: z },\n        { type: \"i\", value: moved }\n    ]\n};\n\n\nreturn oscMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "0d3745886f281758"
            ]
        ]
    },
    {
        "id": "e272c085a03e98e3",
        "type": "udp out",
        "z": "4c226cc9d33e546f",
        "name": "",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "8000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "f20ce369cc877266",
        "type": "function",
        "z": "4c226cc9d33e546f",
        "name": "return ACC",
        "func": "msg.payload = msg.payload.acc;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "498b6af00bb06bc0"
            ]
        ]
    },
    {
        "id": "498b6af00bb06bc0",
        "type": "ui_chart",
        "z": "4c226cc9d33e546f",
        "name": "",
        "group": "cd1c9d03df959056",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ACC amount",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "927d552d7325957e",
        "type": "ui_gauge",
        "z": "4c226cc9d33e546f",
        "name": "",
        "group": "cd1c9d03df959056",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "X-axis",
        "label": "units",
        "format": "{{value}}",
        "min": "-90",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c4714497cf8cdb7",
        "type": "function",
        "z": "4c226cc9d33e546f",
        "name": "return X",
        "func": "msg.payload = msg.payload.x;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "927d552d7325957e"
            ]
        ]
    },
    {
        "id": "0fd7a2b97a3f4124",
        "type": "function",
        "z": "4c226cc9d33e546f",
        "name": "return RAVISTUS",
        "func": "if (msg.payload.acc > 110) {\n    msg.payload = \"RAVISTUS!\";\n}\n\nelse {\n    msg.payload = \"Normaali\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "7bf53c980de38dec"
            ]
        ]
    },
    {
        "id": "7bf53c980de38dec",
        "type": "ui_text",
        "z": "4c226cc9d33e546f",
        "group": "cd1c9d03df959056",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "079b7131bfa92ef4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd1c9d03df959056",
        "type": "ui_group",
        "name": "UnrealMQTT",
        "tab": "c09accc809a997eb",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c09accc809a997eb",
        "type": "ui_tab",
        "name": "Unreal",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccc3648657edbf5e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-osc": "1.1.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]